<!DOCTYPE html>
<html>
  <head>
    <title>Family</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="blue">
      <div class="nav-wrapper">
        <ul>
          <li>
            <a class="active" href="/"><%= image_tag "https://cdn3.iconfinder.com/data/icons/family-outline/61/25_-Family-_family_home_people-32.png" %></a>
          </li>
          <li>
            <a href="/clans">Clans</a>
          </li>
          <li>
            <a href="/members">Member</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
